* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/0001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    padding-top: 217px;
    padding-bottom: 32px;
    color: #FFFFFF;
    max-width: 788.78px;
}

.header__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 481px;
    margin-bottom: 44px;
}

.button {
    width: 234.06px;
    height: 48.6px;
    background: #9C0332;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.games {
    
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;
    background: #000915;
}

.games__list {
    display: flex;
    gap: 32px
    
}
.games__item {
    width: 379px;
}
.game__box {
    width: 379px;
    height: 200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    padding-bottom: 32px;
    padding-left: 32px;
    box-sizing: border-box;
}
.game__box--1 {
    background-image: url(./img/Rectangle\ 6.svg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.game__box--2 {
    background-size: cover;
    background-image: url(./img/Rectangle\ 7.svg)

}
.game__box--3 {
    background-size: cover;
    background-image: url(./img/Rectangle\ 8.svg)
    
}
